<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenhao.netshop.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.wenhao.netshop.domain.Permission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="permissionname" property="permissionname" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, permissionname
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from permission
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from permission
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.wenhao.netshop.domain.Permission">
    insert into permission (id, permissionname)
    values (#{id,jdbcType=BIGINT}, #{permissionname,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.wenhao.netshop.domain.Permission">
    update permission
    set permissionname = #{permissionname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>