<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenhao.netshop.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.wenhao.netshop.domain.Role">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="rolename" property="rolename" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, rolename
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from role
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.wenhao.netshop.domain.Role">
    insert into role (id, rolename)
    values (#{id,jdbcType=BIGINT}, #{rolename,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.wenhao.netshop.domain.Role">
    update role
    set rolename = #{rolename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>