<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="insert" parameterType="${packageName}.${domain}">
        INSERT INTO ${lowerDomain}
        #foreach ($i in $list)
        ($i,)
        #end
    </select>
</mapper>